{
  "token": "INSERT-TOKEN",
  "cmdPrefix": "y",
  "canDeleteMessages": ["admin-perm-role"],
  "canMuteRetard": ["admin-perm-role"],
  "mainChannelName": "chat☻",
  "defiPulseApiKey": "INSERT-DEFI-PULSE-TOKEN"
}
